div(class="section")
  div(class="label") Method
  div(class="value delete") delete
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:3000/courses/{id}
div(class="section")
  div(class="label") Description
  div(class="value") Deletes the the course associated with the numeric ID provided in the route unless.
div(class="section")
  div(class="label") Response
  div(class="value") Successfully deleted Course
