div(class="section")
  div(class="label") Method
  div(class="value get") get
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:3000/courses
div(class="section")
  div(class="label") Description
  div(class="value") Returns a list of all the golf courses
div(class="section")
  div(class="label") Response
  div(class="value")
    pre
        | [{
        |    id: 1,
        |    name: "Liberty National Golf Course",
        |    location: "Jersey City, New Jersey",
        |    rating: 69.6,
        |    slope: 120,
        |    par: 72,
        |    tee: "Regular",
        |    yards: 5748
        | },
        | {
        |    id: 2,
        |    name: "Caves Valley Golf Club",
        |    location: "Owings Mills, Maryland",
        |    rating: 71.0,
        |    slope: 131,
        |    par: 71,
        |    tee: "White",
        |    yards: 6228
        | }]
