div(class="section")
  div(class="label") Method
  div(class="value get") get
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:3000/courses/{id}
div(class="section")
  div(class="label") Description
  div(class="value") Returns the course associated with the numeric ID provided in the route.
div(class="section")
  div(class="label") Response
  div(class="value")
    pre
        | [{
        |    "id": 1,
        |    "name": "Caves Valley golf Club",
        |    "par": 72,
        |    "location": "Owings, MD",
        |    "rating": 75.3,
        |    "slope": 142,
        |    "yards": 7290
        |  }]
