div(class="section")
  div(class="label") Method
  div(class="value get") get
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:3000/courses
div(class="section")
  div(class="label") Description
  div(class="value") Returns a list of all the golf courses
div(class="section")
  div(class="label") Response
  div(class="value")
    pre
        | [{
        |    "name": "Caves Valley golf Club",
        |    "par": 72,
        |    "location": "Owings, MD",
        |    "rating": 75.3,
        |    "slope": 142,
        |    "yards": 7290
        |  },
        |  {
        |    "name": "Royal St. George's GC",
        |    "par": 70,
        |    "location": "Sandwhich, UK",
        |    "rating": 75.2,
        |    "slope": 138,
        |    "yards": 7204
        |  }]
