div(class="section")
  div(class="label") Method
  div(class="value get") get
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:3000/golfers
div(class="section")
  div(class="label") Description
  div(class="value") Returns a list of all the golfers
div(class="section")
  div(class="label") Response
  div(class="value")
    pre
      | [{
      |    "name": "Jon Rahm",
      |    "wins": 6,
      |    "rank": 1,
      |    "scoringAvg": 72.281
      |  },
      |  {
      |    "name": "Dustin Johnson",
      |    "wins": 24,
      |    "rank": 2,
      |    "scoringAvg": 69.619
      |  }]