div(class="section")
  div(class="label") Method
  div(class="value get") get
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:3000/golfers/{id}
div(class="section")
  div(class="label") Description
  div(class="value") Returns the golfer associated with the numeric ID provided in the route.
div(class="section")
  div(class="label") Response
  div(class="value")
    pre
      | [{
      |   id: 3,
      |   name: "Collin Morikawa",
      |   wins: 5,
      |   rank: 3,
      |   scoringAvg: 70
      | }]
