div(class="section")
  div(class="label") Method
  div(class="value get") get
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:3000/tournament/{id}
div(class="section")
  div(class="label") Description
  div(class="value") Returns the tournament associated with the numeric ID provided in the route.
div(class="section")
  div(class="label") Response
  div(class="value")
    pre
      | [{
      |   name: "The Northen Trust",
      |   purse: 9500000,
      |   location: "Jersey City, New Jersey",
      |   course: "Liberty National Golf Course",
      |   date: "Aug 19 - Aug 22, 2021"
      | }]
