div(class="section")
  div(class="label") Method
  div(class="value get") get
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:3000/tournaments
div(class="section")
  div(class="label") Description
  div(class="value") Returns a list of all the tournaments
div(class="section")
  div(class="label") Response
  div(class="value")
    pre
      |[{
      |   id: 1,
      |   name: "The Northen Trust",
      |   purse: 9500000,
      |   location: "Jersey City, New Jersey",
      |   course: "Liberty National Golf Course",
      |   date: "Aug 19 - Aug 22, 2021"
      | },
      | {
      |   id: 2,
      |   name: "BMW Championship",
      |   purse: 9500000,
      |   location: "Owings Mills, Maryland",
      |   course: "Caves Valley Golf Club",
      |   date: "Aug 26 - Aug 29, 2021"
      | }]