div(class="section")
  div(class="label") Method
  div(class="value get") get
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:3000/tournaments
div(class="section")
  div(class="label") Description
  div(class="value") Returns a list of all the tournaments
div(class="section")
  div(class="label") Response
  div(class="value")
    pre
      | [{
      |    "name": "BMW Championship",
      |    "course": 1,
      |    "winner": 4,
      |    "purse": 9500000,
      |    "date": "8/29/2021"
      |    "winner": {
      |     "name": "Patrick Cantlay"  
      |     }
      |    "course":{
      |      "name": "Caves Valley golf Club"
      |     }
      |  },
      |  {
      |    "name": "The Open Championship",
      |    "course": 2,
      |    "winner": 3,
      |    "purse": 11500000,
      |    "date": "7/18/2021"
      |    "winner": {
      |     "name": "Colin Morikawa"  
      |     }
      |    "course":{
      |      "name": "Royal St. George's GC"
      |     }
      | }]