div(class="section")
  div(class="label") Method
  div(class="value post") post
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:3000/courses
div(class="section")
  div(class="label") Headers
  div(class="value")
    div(class="header-name") Content-Type
    div(class="header-value") application/json
div(class="section")
  div(class="label") Body
  div(class="value")
    pre
        | [{
        |    "name": "The Concession Golf Club'",
        |    "par": 70,
        |    "location": "Bradenton, FL",
        |    "rating": 76.7,
        |    "slope": 153,
        |    "yards": 7477
        | }]
div(class="section")
  div(class="label") Description
  div(class="value") Creates a new course from the data provided in the body.
div(class="section")
  div(class="label") Response
  div(class="value")
    pre
        | [{
        |    "id": 3
        |    "name": "The Concession Golf Club'",
        |    "par": 70,
        |    "location": "Bradenton, FL",
        |    "rating": 76.7,
        |    "slope": 153,
        |    "yards": 7477
        | }]

