div(class="section")
  div(class="label") Method
  div(class="value post") post
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:3000/tournament
div(class="section")
  div(class="label") Headers
  div(class="value")
    div(class="header-name") Content-Type
    div(class="header-value") application/json
div(class="section")
  div(class="label") Body
  div(class="value")
    pre
      | {
      |   "name": "The Masters Tournament",
      |   "purse": 11500000,
      |   "location": "Augusta, Georgia",
      |   course: "Augusta National Golf Club",
      |   date: "Apr 4 - Apr 10, 2021"
      | }
div(class="section")
  div(class="label") Description
  div(class="value") Creates a new tournament from the data provided in the body.
div(class="section")
  div(class="label") Response
  div(class="value")
    pre
      | {
      |   "id": 3,
      |   "name": "The Masters Tournament",
      |   "purse": 11500000,
      |   "location": "Augusta, Georgia",
      |   course: "Augusta National Golf Club",
      |   date: "Apr 4 - Apr 10, 2021"
      |   "createdAt": "2020-05-06T00:03:48.877Z",
      |   "updatedAt": "2020-05-06T00:03:48.877Z"
      | }
