div(class="section")
  div(class="label") Method
  div(class="value post") post
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:3000/courses
div(class="section")
  div(class="label") Headers
  div(class="value")
    div(class="header-name") Content-Type
    div(class="header-value") application/json
div(class="section")
  div(class="label") Body
  div(class="value")
    pre
      | {
      |   "name": "Pebblie Beach",
      |   "location": "Pebble Beach, California", 
      |   "rating": 71.3,
      |   "slope": 132,
      |   "par": 72,
      |   "tee": "white",
      |   "yards": 6116, 
      | }
div(class="section")
  div(class="label") Description
  div(class="value") Creates a new course from the data provided in the body.
div(class="section")
  div(class="label") Response
  div(class="value")
    pre
      | {
      |   "id": 3,
      |   "name": "Pebblie Beach",
      |   "location": "Pebble Beach, California", 
      |   "rating": 71.3,
      |   "slope": 132,
      |   "par": 72,
      |   "tee": "white",
      |   "yards": 6116, 
      |   "createdAt": "2020-05-06T00:03:48.877Z",
      |   "updatedAt": "2020-05-06T00:03:48.877Z"
      | }

