html
  include partials/head.pug

  body
    h1 Eagle Putt Golf 
    div(class='content-columns')
      div(class='side-panel')
        div(class='endpoint selected get' data-endpoint='get-golfer') GET /golfer
        div(class='endpoint get' data-endpoint='get-golfer-id') GET /golfer/{id}
        div(class='endpoint post' data-endpoint='post-golfer') POST /golfer
        div(class='endpoint delete' data-endpoint='delete-golfer') DELETE /golfer
        div(class='endpoint newroute get' data-endpoint='get-tournament') GET /tournament
        div(class='endpoint get' data-endpoint='get-tournament-id') GET /tournament/{id}
        div(class='endpoint post' data-endpoint='post-tournament') POST /tournament
        div(class='endpoint delete' data-endpoint='delete-tournament') DELETE /tournament
        div(class='endpoint newroute get' data-endpoint='get-course') GET /course
        div(class='endpoint get' data-endpoint='get-course-id') GET /course/{id}
        div(class='endpoint post' data-endpoint='post-course') POST /course
        div(class='endpoint delete' data-endpoint='delete-course') DELETE /course
      div(class='doc-panel')        
        h2 Eagle Putt API Documentation
        div(class="doc" data-doc="get-golfer")
          include partials/docs/getGolfers
        div(class="doc hidden" data-doc="get-golfer-id")
          include partials/docs/getGolferId
        div(class="doc hidden" data-doc="post-golfer")
          include partials/docs/postGolfer
        div(class="doc hidden" data-doc="delete-golfer")
          include partials/docs/deleteGolfer
        div(class="doc hidden" data-doc="get-tournament")
          include partials/docs/getTournaments
        div(class="doc hidden" data-doc="get-tournament-id")
          include partials/docs/getTournamentId
        div(class="doc hidden" data-doc="post-tournament")
          include partials/docs/postTournament
        div(class="doc hidden" data-doc="delete-tournament")
          include partials/docs/deleteTournament
        div(class="doc hidden" data-doc="get-course")
          include partials/docs/getCourses
        div(class="doc hidden" data-doc="get-course-id")
          include partials/docs/getCourseId
        div(class="doc hidden" data-doc="post-course")
          include partials/docs/postCourse
        div(class="doc hidden" data-doc="delete-course")
          include partials/docs/deleteCourse


    script(src="./javascript/main.js")
